@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    margin: 0;
    background-color: #000;
    font-family: 'Montserrat',sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

.content-container{
    padding: 0 200px;
}

.row{
    display: flex;
}

.ai_center{
    align-items: center;
}

.jc_center{
    justify-content: center;
}

.jc_space-between{
    justify-content: space-between;
}

.fd_column{
    flex-direction: column;
}

.header{    
    padding-bottom: 30px;
    max-width: 740px;
    border-bottom: 1px solid #F3A917;
    margin-bottom: 160px;
}

.ico{
    &_twitter{
        background-image: url(../img/ico-twitter_21x17_white.svg);
        width: 21px;
        height: 17px;
        background-repeat: no-repeat;
    }

    &_twitch{
        background-image: url(../img/ico-twitch_18x19_white.svg);
        width: 18px;
        height: 19px;
        background-repeat: no-repeat;
    }

    &_fb{
        background-image: url(../img/ico-fb_11x10_white.svg);
        width: 11px;
        height: 20px;
        background-repeat: no-repeat;
    }

    &_vk{
        background-image: url(../img/ico-vk_25x15_white.svg);
        width: 25px;
        height: 15px;
        background-repeat: no-repeat;
    }
}

.social{
    .item{
        width: 30px;
        height: 30px;
        background-position: center;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}

.main-slider{
    padding-top: 13px;
    margin-bottom: 140px;
    padding-bottom: 197px;
    background-image: url(../img/main-slider-bg_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    &__logo{
        background-image: url(../img/slider-logo.svg);
        width: 192px;
        height: 60px;
        background-repeat: no-repeat;
        margin-bottom: 35px;
    }

    &__title{
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
        color: #FFFFFF;
        padding: 35px 0 25px 0;
    }
    &__text{
        color: #fff;
        max-width: 703px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        font-weight: normal;
    }

    &__buttons {
        margin-top: 220px;
        .btn{
            width: 246px;
            padding: 13.5px 0;
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
        }

        .row>*:not(:last-child){
            margin-right: 35px;
        }
    }
   
}


.btn{
    &_yeallow{
        background: #F3A917;
        color: #000;
    }

    &_default{
        color: #FFFFFF;
        border: 2px solid #F3A917;
    }

    &_reg{
        padding: 17.5px 60px;
        background-color: #fff;
        font-weight: 600;
        font-size: 16px;
        color: #000;
        border-radius: 5px;
        transition: .5s;
        &:hover{
            background-color: #292A2F;
            color: #fff;
            transition: .5s;
        }
        .ico{
            width: 24px;
            height: 24px;
            background-image: url(../img/reg-btn-ico_24x24.svg);
            margin-right: 10px;
           
        }
    }
}

.title{font-size: 32px;}

.schedule{
    .title{
        color: #fff;
        margin-bottom: 40px;
    }

    .schedule-tabs{
        border-top: 1px solid #F3A917;
        a{
            display: inline-block;
            width: 152px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border: 1px solid #F3A917;
            padding: 15px 0;
            text-align: center;
        }

        a.active{
            background-color: #F3A917;
            border: none;
        }
    }
}

.cards{
    margin-top: 100px;    
    padding: 0 185px 285px 185px;

    .owl-carousel .owl-stage-outer{
        padding: 15px 0;
    }

    .tab-container{
        display: none;
    }

    .tab-container.active{
        display: block;
    }
}

.card{
    width: 350px;
    height: 341px;
    background: #292A2F;
    border-radius: 10px;
    position: relative;
    transition: .4s;     

    &:hover{
        box-shadow: 0px 6px 13px -3px #F3A917;
        transition: .2s;     
    }

    &:hover .card__hover{
        opacity: 1;
        transition: .5s;       
    }

    &__header{
        padding: 40px 30px 19px 30px;
        color: #fff;
        position: relative;
        margin-bottom: 36px;

        &::before{
            position: absolute;
            bottom: 0;
            content: ' ';
            width: 278px;
            height: 1px;
            background-color: #F3A917;
        }
    }

    .game-name{
        font-size: 14px;
    }

    .game-date{
        text-align: center;
        padding-right: 18px;
        .item{
            &:first-child{
                font-size: 12px;
            }

            &:last-child{
                font-weight: bold;
                font-size: 20px;
            }

        }
    }
    &__body{
        padding: 0 37px;
    }

    .card-logo{
        margin-bottom: 15px;
        .item{
            width: 50px;
            height: 50px;
            &:first-child{
                margin-right: 20px;
            }
        }
    }

    .coefficient{
        margin-bottom: 15px;
        &__name{
            font-weight: bold;
            font-size: 20px;
            color: #FFFFFF;
        }
    
        &__val{
            width: 58px;
            height: 30px;
            border: 1px solid #F3A917;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 14px;
            color:#fff;
        }
    
        .row:first-child{
            margin-bottom: 15px;
        }
    }
    &__time-info{
        .item{
            &:first-child{
                font-size: 12px;
                color: #757C84;
            }
        }
    }

    &__hover{        
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;        
        height: 341px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(7, 7, 7, 0.76);
        border-radius: 10px;
        transition: opacity .5s;

        &__btn{
            padding: 11.5px 20px;
            text-transform: uppercase;
            background: #F3A917;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            .row>*:not(:last-child){
                margin-right: 10px;
            }
        }

        .play-ico{
            display: inline-block;
            width: 14px;
            height: 17px;
            background-image: url(../img/play-ico.svg);
        }
    }

    &__battles{
        .card__header{
            padding: 47px 35px 19px 35px;
        }

        .coefficient__val{
            width: auto;
            height: auto;
            padding: 5px 10px;
            text-transform: uppercase;
        }

        .card-logo{
            margin-bottom: 22px;
        }
    }

}

.stages{
    background-color: #F3A917;
    padding: 117px 0;
    &__title{
        font-weight: bold;
        font-size: 32px;
        color: #000000;
    }

    &__text{
        font-size: 18px;
        line-height: 30px;
        color: #000;
        max-width: 608px;

        a{
            color:#fff;
        }
    }

    &__steps{

        .row:first-child{
            margin-bottom: 70px;
        }
        
        .item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 221px;
            position: relative;
            &:not(:last-child){
                margin-right: 71px;
            }
            &:not(:last-child) .ico::after{
                position: absolute;
                content: ' ';
                width: 76px;
                height: 4px;
                background-color: #fff;
                right: 0;
                right: -146px;
                top: 50%;
            }
            &:nth-child(1) .ico{
                background-image: url(../img/stages-ico__1_80x80.svg);
            }

            &:nth-child(2) .ico{
                background-image: url(../img/stages-ico__2_80x80.svg);
            }

            &:nth-child(3) .ico{
                background-image: url(../img/stages-ico__3_80x80.svg);
            }

            &:first-child .title{
                font-weight: bold;
            }

            .title{
                margin-bottom: 5px;
                font-size: 16px;
                
            }
        }

        .item .ico{
            width: 80px;
            height: 80px;
            margin-bottom: 33px;
            background-repeat: no-repeat;
            position: relative;
        }
    }

    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer{
    position: relative;    
    img{
        width: 100%; 
    }

    .content-container{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;             
    }
}

.owl-item{
    display: flex;
    justify-content: center;
}

.footer{
    &__content{    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    }

    &__title{
        font-weight: bold;
        font-size: 32px;
        color: #fff;
    }
}

thead{
    background-color: #F3A917;
}

th:first-child,td:first-child{
    width: 72px;
    text-align: center;
    font-weight: normal;
}

th:last-child,td:last-child{
    text-align: left;
    font-weight: normal;
    padding-left:20px;
}

.table{
    margin-bottom: 89px;
}

table{
    border: 1px solid #F3A917;
    border-bottom: none;
    margin-bottom: 56px;
    font-size: 20px;
}

table tr{
    height: 55px;
}

tbody tr{
    background-color: #292A2F;
    color: #fff;
}

tbody td:not(:last-child){
    border-bottom: 1px solid #F3A917; 
}

tbody td{
    border-bottom: 1px solid #F3A917; 
}


tbody td:first-child{
    border-right: 1px solid #F3A917;
}

tbody td .ico{
    width: 24px;
    height: 18px;
    margin-right: 10px;
    display: inline-block;
}

.ua-flag{
    background-image: url(../img/ua-flag-ico_24x18.svg);    
}

.footer__menu{
    a{
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        &:not(:last-child){
            margin-right: 126px;
        }
    }
}

.timer{
    margin-bottom: 20px;
    p{color: #fff;
        font-weight: bold;
        font-size: 25px;
    }

}